<wcs-nav>

  <wcs-nav-item text="Accueil" [routerLink]="dataService.appRoutes.Accueil" routerLinkActive="active">
    <wcs-mat-icon icon="description"></wcs-mat-icon>
  </wcs-nav-item>

  <wcs-nav-item text="Page 2" [routerLink]="['Page2']" routerLinkActive="active">
    <wcs-mat-icon icon="folder" family="filled"></wcs-mat-icon>
  </wcs-nav-item>

  <p slot="bottom" id="version">{{generalService.app_version}}.{{generalService.app_build}}<br>{{generalService.date_maj_applicatif_string}}</p>

</wcs-nav>
