<div class="flex-column flex-align-center">

  <div class="flex-row flex-align-center">
    <h1 id="title">Bienvenue</h1>
  </div>

  <div id="pageContainer">

    <!--Barre de recherche-->
    <wcs-form-field id="searchBar">
      <wcs-input #searchBarInput placeholder="Rechercher"></wcs-input>
      <wcs-button shape="square" slot="suffix" ripple="false">
        <wcs-mat-icon icon="search"></wcs-mat-icon>
      </wcs-button>
    </wcs-form-field>

    <!--Card Liens rapides-->
    <wcs-card mode="flat" class="card" id="raccourcisCard">
      <h3>Liens rapide</h3>
      <div class="flex-column gap-05em w-100">

        <wcs-button mode="stroked" class="flex-row gap-05em" (click)="this.generalService.openURL('https://www.google.com', '_blank')">
          <img src="assets/sncf-logo.png" class="raccourcisLinkImage">
          Raccourci 1
        </wcs-button>
      </div>

    </wcs-card>

    <!--Card dernières Infos-->
    <wcs-card mode="flat" class="card" id="infosCard">
      <h3>Infos</h3>

      <!--List of all the news-->
      <span>Fonctionnalité en cours de développement <h1>🚧 🏗️</h1></span>
    </wcs-card>

  </div>
</div>
